openapi: 3.0.1
servers:
  - url: 'https://sandbox.toloka.dev/api/v1'
    description: Toloka sandbox server URL.
  - url: 'https://toloka.dev/api/v1'
    description: Toloka default server URL.
info:
  title: Toloka API
  version: '1.0'
  description:
    $ref: './parts/api/info-description.md'
security:
  - api_key1: []
tags:
  - name: project
    description: |
      Set the properties of tasks and responses in the project:

      - Input data parameters. Describe the objects to display in the task, such as images or text.

      - Output data parameters. These parameters describe Tolokers' responses. They are used for validating the responses entered: the data type (integer, string, etc.), range of values, string length, and so on.

      - Task interface. Defines the appearance of the task for Tolokers and the logic for processing responses.

      ### See also

      - [More information about projects](https://toloka.ai/docs/guide/project/)
  - name: pool
    description: |
      A pool consists of task suites that are sent out for completion at the same time. In the pool properties, you set the task price, overlap, [Toloker selection filters](https://toloka.ai/docs/api/filters/), [quality control rules](https://toloka.ai/docs/api/quality_control/), and so on.

      If the project has multiple pools, the order for completing them depends on the parameters:

      - Pools with identical filter settings and price per task are assigned to Tolokers in the order in which they were started. The pool that was started earlier will be completed sooner. You can [change the order](https://toloka.ai/docs/api/api-reference/#post-/pools) for completing the pools.

      - Pools with different filter settings and/or a different price per task are sent out for completion when the [pool opens](https://toloka.ai/docs/api/api-reference/#post-/pools/-id-/open).

      <aside class="note">Wait for the operation completion (changing its <a href="https://toloka.ai/docs/api/api-reference/#get-/operations/-id-">status</a> to <code>SUCCESS</code> or <code>FAIL</code>) before performing any other operation except <a href="https://toloka.ai/docs/api/api-reference/#post-/pools">pool creation</a>.</aside>

      ### See also

      - [More information about pools](https://toloka.ai/docs/guide/pool-main/)
  - name: training
    description: |
      A training pool includes unpaid task suites. The training pool must be
      linked to the main pool.

      After completing the training pool, the annotator is assigned a skill
      equal to the percentage of correct responses. If the percentage is higher
      than or equal to the **Level required** value in the linked pool, the
      annotator gets access to the main pool.

      ### See also

      - [Adding a training](https://toloka.ai/docs/guide/train/)
  - name: webhook-subscription
    description: |
      You can create a subscription and receive notifications from Toloka when
      certain events occur, for example:

      - When a pool closes.
      - When a task's status changes to a specified one.
      - When an aggregated score appears after dynamic overlap.

      The events that you want to be notified about are set when [creating a
      subscription](https://toloka.ai/docs/api/api-reference/#put-/webhook-subscriptions).

      Notifications about the events you're subscribed to are sent in JSON
      format. For a description of notification data, see [Notification format](https://toloka.ai/docs/api/using-webhook-subscriptions/).
  - name: skill
    description: |
      A skill is an assessment of some aspect of a Toloker's responses (a number
      from **0** to **100**). You can set up skill calculation in a [quality control rule](https://toloka.ai/docs/api/quality_control/), or manually set the skill level for a Toloker. You can use
      skills to [select Tolokers](https://toloka.ai/docs/api/filter-skill/) who perform pool tasks.

      ### See also

      - [More information about skills](https://toloka.ai/docs/guide/nav/)
  - name: user-restriction
    description: |
      You can block a Toloker's access to one or more projects. This lets you
      control which Tolokers will complete tasks. For example, you can select Tolokers
      with a skill value lower than N and block their access to tasks. You can
      also unblock access.

      ### See also

      - [Ban](https://toloka.ai/docs/guide/ban/?form-source=api-ban)
  - name: task
    description: |
      In order to upload tasks to a pool, you need to create JSON objects that
      contain:

      - The input data for the tasks (such as text or image URLs).
      - Correct responses (for control tasks).
      - Hints (for training tasks).

      Toloka automatically combines tasks into suites. You only need to specify
      the number of tasks to include in each suite (the `mixer_config` key in
      the [pool](https://toloka.ai/docs/api/api-reference/#tag--pools)).


      If you want to create the task suites yourself, follow the instructions in the
      [Task suite](https://toloka.ai/docs/api/api-reference/#tag--task-suite) section.

      ### See also

      - [Adding tasks to a pool](https://toloka.ai/docs/guide/pool/)
      - [How to upload tasks](https://toloka.ai/docs/guide/task_upload/)
  - name: task-suite
    description: |
      A task suite is a set of tasks grouped on a single web page. If the tasks
      are simple, you can add 10&ndash;20 tasks per suite. Don't make task
      suites too long because it slows down the loading speed for annotators.

      - To create a task suite, upload JSON containing:
      - Input data for tasks (such as text or image URLs).
      - Correct responses (for control tasks).
      - Hints (for training tasks).
      - Parameters for assigning tasks.

      ### See also

      - [Ways to group tasks in suites](https://toloka.ai/docs/guide/distribute-tasks-by-pages/)
  - name: operation
    description: |
      Some API requests ([opening](https://toloka.ai/docs/api/api-reference/#post-/pools/-id-/open) and [closing](https://toloka.ai/docs/api/api-reference/#post-/pools/-id-/close) a pool, archiving a [pool](https://toloka.ai/docs/api/api-reference/#post-/pools/-id-/archive) or [project](https://toloka.ai/docs/api/api-reference/#post-/projects/-id-/archive), [loading task suites](https://toloka.ai/docs/api/api-reference/#post-/task-suites), [issuing bonuses](https://toloka.ai/docs/api/api-reference/#post-/user-bonuses)) are processed as asynchronous operations that run in the background. Operation details (for example, status and creation time) are passed in the JSON format.

      You can use the API for tracking the operation progress.
  - name: assignment
    description: |
      You can get:

      - [Responses](https://toloka.ai/docs/api/api-reference/#get-/assignments) for the pool's task suites and their properties.

      - [Files uploaded by Tolokers](https://toloka.ai/docs/api/api-reference/#tag--attachments).

      - [Aggregated responses](https://toloka.ai/docs/api/api-reference/#tag--aggregated-solutions).

      ### See also

      - [Receiving responses](https://toloka.ai/docs/guide/result-of-eval/)
  - name: attachment
    description: |
      Files uploaded by Tolokers are saved in Toloka.

      ### See also

      - [Receiving responses](https://toloka.ai/docs/guide/result-of-eval/)
  - name: aggregated-solution
    description: |
      Aggregate accepted responses for tasks with an overlap in a pool of 2 or
      more to get the final response with the degree of confidence.

      You can aggregate responses in two ways:

      - Yes — Aggregate responses by skill (`WEIGHTED_DYNAMIC_OVERLAP`).
      - No — Aggregate responses using the Dawid-Skene method (`DAWID_SKENE`).

      The Dawid-Skene aggregation model works with control and training tasks as
      well as with general tasks. Responses specified for control tasks might
      not match the actual responses to the task if Tolokers often submit an
      incorrect response to it.

      The Dawid-Skene aggregation model automatically evaluates `|L|²`
      parameters for each Toloker, where L is the number of different
      aggregation values. Note that these parameters are determined
      automatically and are only used in calculations.

      Because the Dawid-Skene method evaluates `|L|²` parameters for each
      Toloker, we don't recommend using it when the Toloker labels `< |L|²`
      tasks. In this case, the quality of aggregation may be poor.

      Aggregation via the interface and via the API works differently. When
      using the Dawid-Skene aggregation model, you can't aggregate more than one
      field via the API. You can only do that via the interface.

      ### See also

      - [Aggregation of results](https://toloka.ai/docs/guide/result-aggregation/)
      - [Crowd-Kit: commonly-used aggregation methods](https://toloka.ai/docs/crowd-kit/)
  - name: user-bonus
    description: |
      You can issue bonuses to one or more Tolokers (in addition to payment for
      completed tasks).

      The bonus amount can be from $0.005 to $100 per Toloker per time.

      ### See also

      - [Bonuses](https://toloka.ai/docs/guide/bonus/)
  - name: message-thread
    description: |
      Send messages to Tolokers. You can specify recipients in a list or select
      annotators using a filter.

      The sent message is added to a new message thread. Until the first
      response is received, the message chain is located in the `UNREAD` folder.
      If the thread contains several addresses and one of them responds, a new
      message thread will be created.

      ### See also

      - [Communication](https://toloka.ai/docs/guide/messaging/)
  - name: user-metadata
    description: |
      Toloka allows you to get some information about the Tolokers whose ID you know.

      This information includes the data which the Toloker specifies in their profile and the metadata which the platform receives from the Toloker device and software installed.
  - name: requester
    description: You can display your current account balance and name using the method below.
paths:
  /aggregated-solutions/aggregate-by-pool:
    post:
      tags:
        - aggregated-solution
      operationId: aggregateSolutionsByPool
      summary: Aggregate responses in pool
      description: |
        Starts aggregating responses to all completed tasks in the pool.

        <aside class="warning"><strong>Restriction</strong>: You can send a maximum of <strong>5</strong> requests of this kind per minute, <strong>30</strong> requests per hour, and <strong>200</strong> requests per day. Refer to the <a href="#overview--rate-limiting">Rate limiting</a> section for the complete list of the request limitations in Toloka API.</aside>

        ### See also:

        - [Toloka-Kit recipe: Aggregate responses in pool](https://toloka.ai/docs/toloka-kit/recipes/aggregate-responses/)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              description: The aggregation used for the results.
              oneOf:
                - $ref: '#/components/schemas/DawidSkeneAggregatedSolutionFormV1'
                - $ref: '#/components/schemas/WeightedDynamicOverlapAggregatedSolutionFormV1'
            examples:
              $ref: './requests/api/aggregated-solution-body-pool.yaml'
      x-code-samples:
        $ref: ./code-samples/api/post-aggregated-solutions-aggregate-by-pool.yaml
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationViewV1'
              examples:
                $ref: './responses/api/aggregated-solution-pool.yaml'
          description: Created
  /aggregated-solutions/aggregate-by-task:
    post:
      tags:
        - aggregated-solution
      summary: Aggregate responses to single task
      description: Starts aggregating responses to a single task.
      operationId: aggregateSolutionsByTask
      requestBody:
        required: true
        content:
          application/json:
            schema:
              description: The aggregation used for the results.
              oneOf:
                - $ref: '#/components/schemas/DawidSkeneAggregatedSolutionFormV1'
                - $ref: '#/components/schemas/WeightedDynamicOverlapAggregatedSolutionFormV1'
            examples:
              $ref: './requests/api/aggregated-solution-body-pool.yaml'
      x-code-samples:
        $ref: ./code-samples/api/post-aggregated-solutions-aggregate-by-task.yaml
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AggregatedSolutionViewV1'
              examples:
                $ref: './responses/api/aggregated-solution-id.yaml'
          description: Created
  '/aggregated-solutions/{operationId}':
    get:
      tags:
        - aggregated-solution
      summary: Get list of aggregated results
      description: |
        Gets results of aggregation of responses from Tolokers.

        <aside class="warning"><strong>Restriction</strong>: You can send a maximum of <strong>5</strong> requests of this kind per minute, <strong>30</strong> requests per hour, and <strong>200</strong> requests per day. Refer to the <a href="#overview--rate-limiting">Rate limiting</a> section for the complete list of the request limitations in Toloka API.</aside>
      operationId: getAggregatedSolutions
      parameters:
        - name: sort
          description: |
            The parameters for sorting in ascending order:

            - `task_id` — Task ID.

            To change the sorting direction to descending, add a hyphen before the parameter: `sort=-task_id`.
          in: query
          example: task_id
          schema:
            type: string
        - name: limit
          description: The limit on the number of results to return.
          in: query
          example: 100
          schema:
            type: integer
            format: int64
        - name: task_id_gt
          description: |
            Aggregated responses associated with the tasks with an ID greater
            than the specified value.
          in: query
          example: 000012bb84--62d80429f20bf20e50f36a27
          schema:
            type: string
        - name: task_id_gte
          description: |
            Aggregated responses associated with the tasks with an ID greater
            than or equal to the specified value.
          in: query
          example: 000012bb84--62d80429f20bf20e50f36a27
          schema:
            type: string
        - name: task_id_lt
          description: |
            Aggregated responses associated with the tasks with an ID less than
            the specified value.
          in: query
          example: 000012bb84--62d80429f20bf20e50f36a27
          schema:
            type: string
        - name: task_id_lte
          description: |
            Aggregated responses associated with the tasks with an ID less than
            or equal to the specified value.
          in: query
          example: 000012bb84--62d80429f20bf20e50f36a27
          schema:
            type: string
        - name: operationId
          description: The ID of the operation.
          in: path
          required: true
          example: 5c04458e-63c1-46c1-ba0d-6f0756a5358b
          schema:
            type: string
      x-code-samples:
        $ref: ./code-samples/api/get-aggregated-solutions-operationId.yaml
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageOfV1AggregatedSolutionViewV1'
              examples:
                $ref: './responses/api/aggregated-solution-list.yaml'
          description: OK
  '/assignments/{id}':
    get:
      tags:
        - assignment
      summary: Get response by ID
      description: |
        Gets the properties of the response with the ID specified in the
        request.

        You can get the response ID from the [list of responses](#get-/assignments).
      operationId: getAssignment
      parameters:
        - name: id
          description: The ID of the response for which you want to get the detailed information.
          in: path
          required: true
          example: 00022cfa46--637cf4098ccdeb4a260737de
          schema:
            type: string
      x-code-samples:
        $ref: ./code-samples/api/get-assignments-id.yaml
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssignmentViewV1'
              examples:
                $ref: './responses/api/assignment-id.yaml'
          description: OK
    patch:
      tags:
        - assignment
      summary: Update response
      description: |
        Updates the properties of the response with the ID specified in the
        request.

        You can manually check tasks and reject responses of poor quality. To accept or reject the received responses, change the status of the task suite using a `PATCH` request to the `/assignments/{id}` resource:

        - Accept responses: change `SUBMITTED` to `ACCEPTED`.
        - Reject responses: change `SUBMITTED` to `REJECTED`.
        - Change a rejection decision: change `REJECTED` to `ACCEPTED`.

        To resend the rejected tasks to be completed by other Tolokers, add a quality control rule to the pool (see [Recompletion of assignments](https://toloka.ai/docs/api/restore-task-overlap/)).

        ### See also

        - [Reviewing Tolokers' responses](https://toloka.ai/docs/guide/accept/)
        - [Toloka-Kit recipe: Accept responses from Tolokers](https://toloka.ai/docs/toloka-kit/recipes/accept-responses/)
        - [Toloka-Kit recipe: Reject responses from Tolokers](https://toloka.ai/docs/toloka-kit/recipes/reject-responses/)
      operationId: patchAssignment
      parameters:
        - name: id
          description: The ID of the response you want to modify.
          in: path
          required: true
          example: 00022cfa46--637cf4098ccdeb4a260737de
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssignmentPatchV1'
            examples:
              $ref: './requests/api/assignment-body-patch.yaml'
      x-code-samples:
        $ref: ./code-samples/api/patch-assignments-id.yaml
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssignmentViewV1'
              examples:
                $ref: './responses/api/assignment-id.yaml'
          description: OK
  /assignments:
    get:
      tags:
        - assignment
      summary: Get list of responses
      description: |
        Gets responses for all the task suites in the pool.

        ### See also

        - [Toloka-Kit recipe: Get list of responses](https://toloka.ai/docs/toloka-kit/recipes/get-responses/)
      operationId: getAssignments
      parameters:
        - name: pool_id
          description: |
            You must specify either `task_id`, `pool_id`, or `task_suite_id`.

            The ID of the pool for which you want to get the responses.
          in: query
          example: 32267581
          schema:
            type: string
        - name: task_suite_id
          description: |
            You must specify either `task_id`, `pool_id`, or `task_suite_id`.

            The ID of the task suite for which you want to get the responses.
          in: query
          example: 00022cfa46--637cf4098ccdeb4a260737dc
          schema:
            type: string
        - name: task_id
          description: |
            You must specify either `task_id`, `pool_id`, or `task_suite_id`.

            The task ID in the suites that were generated automatically using “smart mixing”. You will get responses for task suites that contain the specified task.
          in: query
          example: 00022cfa46--637cf3ed6e13181a0164e5a2
          schema:
            type: string
        - name: status
          description: |
            The status of an assigned task suite. If you need to list multiple statuses, separate them with commas:

            - `ACCEPTED` — Accepted by the requester.
            - `ACTIVE` — Being picked up by a Toloker.
            - `EXPIRED` — The time for completing the tasks expired.
            - `REJECTED` — Rejected by the requester.
            - `SKIPPED` — Skipped by the Toloker.
            - `SUBMITTED` — Completed but not checked.
          in: query
          example: ACTIVE
          schema:
            type: string
        - name: user_id
          description: The ID of the Toloker whose responses you want to get.
          in: query
          example: 1ad097faba0eff85a04fe30bc04d53db
          schema:
            type: string
        - name: sort
          description: |
            The parameters to sort by:

            - `id` — ID of the assignment.
            - `created` — The UTC date and time when the task suite was assigned.
            - `submitted` — The UTC date and time when the task suite was completed.
            - `skipped` — The UTC date and time when the task suite was skipped.
            - `expired` — The UTC date and time when the task suite expired.
            - `accepted` — The UTC date and time when the task suite was accepted by the requester.
            - `rejected` — The UTC date and time when the task suite was rejected by the requester.

            <aside class="note">All dates use the ISO 8601 format: <code>YYYY-MM-DDThh:mm:ss[.sss]</code>.</aside>

            To learn how to configure sorting, see [Sorting responses](#overview--sorting-responses).
          in: query
          example: id,-created
          schema:
            type: string
        - name: limit
          description: The limit on the number of results to return.
          in: query
          example: 100
          schema:
            type: integer
            format: int64
        - name: id_gt
          description: Assignments with an ID greater than the specified value.
          in: query
          example: 000010913d--61ee656da2d62b2b566851f6
          schema:
            type: string
        - name: id_gte
          description: Assignments with an ID greater than or equal to the specified value.
          in: query
          example: 000010913d--61ee656da2d62b2b566851f6
          schema:
            type: string
        - name: id_lt
          description: Assignments with an ID less than the specified value.
          in: query
          example: 000010913d--61ee656da2d62b2b566851f6
          schema:
            type: string
        - name: id_lte
          description: Assignments with an ID less than or equal to the specified value.
          in: query
          example: 000010913d--61ee656da2d62b2b566851f6
          schema:
            type: string
        - name: created_gt
          description: Assignments created after the specified date.
          in: query
          example: "2022-12-01"
          schema:
            type: string
        - name: created_gte
          description: Assignments created on or after the specified date.
          in: query
          example: "2022-12-01"
          schema:
            type: string
        - name: created_lt
          description: Assignments created before the specified date.
          in: query
          example: "2022-12-01"
          schema:
            type: string
        - name: created_lte
          description: Assignments created on or before the specified date.
          in: query
          example: "2022-12-01"
          schema:
            type: string
        - name: submitted_gt
          description: Assignments created after the specified date.
          in: query
          example: "2022-12-01"
          schema:
            type: string
        - name: submitted_gte
          description: Assignments created on or after the specified date.
          in: query
          example: "2022-12-01"
          schema:
            type: string
        - name: submitted_lt
          description: Assignments created before the specified date.
          in: query
          example: "2022-12-01"
          schema:
            type: string
        - name: submitted_lte
          description: Assignments created on or before the specified date.
          in: query
          example: "2022-12-01"
          schema:
            type: string
        - name: accepted_gt
          description: Assignments accepted by the requester after the specified date.
          in: query
          example: "2022-12-01"
          schema:
            type: string
        - name: accepted_gte
          description: |
            Assignments accepted by the requester after or on the specified
            date.
          in: query
          example: "2022-12-01"
          schema:
            type: string
        - name: accepted_lt
          description: Assignments accepted by the requester before the specified date.
          in: query
          example: "2022-12-01"
          schema:
            type: string
        - name: accepted_lte
          description: |
            Assignments accepted by the requester before or on the specified
            date.
          in: query
          example: "2022-12-01"
          schema:
            type: string
        - name: rejected_gt
          description: Assignments rejected by the requester after the specified date.
          in: query
          example: "2022-12-01"
          schema:
            type: string
        - name: rejected_gte
          description: |
            Assignments rejected by the requester after or on the specified
            date.
          in: query
          example: "2022-12-01"
          schema:
            type: string
        - name: rejected_lt
          description: Assignments rejected by the requester before the specified date.
          in: query
          example: "2022-12-01"
          schema:
            type: string
        - name: rejected_lte
          description: |
            Assignments rejected by the requester before or on the specified
            date.
          in: query
          example: "2022-12-01"
          schema:
            type: string
        - name: skipped_gt
          description: Assignments skipped after the specified date.
          in: query
          example: "2022-12-01"
          schema:
            type: string
        - name: skipped_gte
          description: Assignments skipped after or on the specified date.
          in: query
          example: "2022-12-01"
          schema:
            type: string
        - name: skipped_lt
          description: Assignments skipped before the specified date.
          in: query
          example: "2022-12-01"
          schema:
            type: string
        - name: skipped_lte
          description: Assignments skipped before or on the specified date.
          in: query
          example: "2022-12-01"
          schema:
            type: string
        - name: expired_gt
          description: Assignments that expire after the specified date.
          in: query
          example: "2022-12-01"
          schema:
            type: string
        - name: expired_gte
          description: Assignments that expire after or on the specified date.
          in: query
          example: "2022-12-01"
          schema:
            type: string
        - name: expired_lt
          description: Assignments that expire before the specified date.
          in: query
          example: "2022-12-01"
          schema:
            type: string
        - name: expired_lte
          description: Assignments that expire before or on the specified date.
          in: query
          example: "2022-12-01"
          schema:
            type: string
      x-code-samples:
        $ref: ./code-samples/api/get-assignments.yaml
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageOfV1AssignmentViewV1'
              examples:
                $ref: './responses/api/assignment-list.yaml'
          description: OK
  '/attachments/{id}/download':
    get:
      tags:
        - attachment
      summary: Download file
      description: |
        Downloads a file attached to a task response.

        ### See also

        - [Toloka-Kit recipe: Download attachments](https://toloka.ai/docs/toloka-kit/recipes/download-attachment/)
      operationId: downloadAttachment
      parameters:
        - name: id
          description: The ID of the file you want to download.
          in: path
          required: true
          example: 0983459b-e26f-42f3-a5fd-6e3feee913e7
          schema:
            type: string
      x-code-samples:
        $ref: ./code-samples/api/get-attachments-id-download.yaml
      responses:
        '200':
          description: OK
  '/attachments/{id}':
    get:
      tags:
        - attachment
      summary: Get file metadata
      description: |
        Gets the properties of a file attached to a task response.

        You can get the file ID from the [list of files](#get-/attachments).
      operationId: getAttachment
      parameters:
        - name: id
          description: The ID of the file for which you want to get the detailed information.
          in: path
          required: true
          example: 0983459b-e26f-42f3-a5fd-6e3feee913e7
          schema:
            type: string
      x-code-samples:
        $ref: ./code-samples/api/get-attachments-id.yaml
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentViewV1'
              examples:
                $ref: './responses/api/attachment-id.yaml'
          description: OK
  /attachments:
    get:
      tags:
        - attachment
      summary: Get list of files
      description: |
        Gets the list of files saved in Toloka.

        ### See also

        - [Toloka-Kit recipe: Get list of files in responses](https://toloka.ai/docs/toloka-kit/recipes/get-attachments/)
      operationId: getAttachments
      parameters:
        - name: pool_id
          description: |
            You must specify either `pool_id` or `assignment_id`.

            The ID of the pool for which you want to get the attachment files.
          in: query
          example: 1085757
          schema:
            type: string
        - name: assignment_id
          description: |
            You must specify either `pool_id` or `assignment_id`.

            The ID of the response for which you want to get the attachment files.
          in: query
          example: 000010913d--61ee656da2d62b2b566851f6
          schema:
            type: string
        - name: name
          description: |
            The file name.
          in: query
          example: "ExampleAttachment.txt"
          schema:
            type: string
        - name: type
          description: |
            The attachment type. Currently the key can have only one value — `ASSIGNMENT_ATTACHMENT`.
          in: query
          example: ASSIGNMENT_ATTACHMENT
          schema:
            type: string
        - name: user_id
          description: |
            The ID of the Toloker who uploaded the file(s).
          in: query
          example: 1ad097faba0eff85a04fe30bc04d53db
          schema:
            type: string
        - name: sort
          description: |
            The parameters to sort by:

            - `id` — The file identifier.
            - `created` — The UTC date and time when the file was uploaded, in the ISO 8601 format: `YYYY-MM-DDThh:mm:ss[.sss]`.

            To learn how to configure sorting, see [Sorting responses](#overview--sorting-responses).
          in: query
          example: id,-created
          schema:
            type: string
        - name: limit
          description: The limit on the number of results to return.
          in: query
          example: 100
          schema:
            type: integer
            format: int64
        - name: id_gt
          description: Attachments with an ID greater than the specified value.
          in: query
          example: 0983459b-e26f-42f3-a5fd-6e3feee913e7
          schema:
            type: string
        - name: id_gte
          description: Attachments with an ID greater than or equal to the specified value.
          in: query
          example: 0983459b-e26f-42f3-a5fd-6e3feee913e7
          schema:
            type: string
        - name: id_lt
          description: Attachments with an ID less than the specified value.
          in: query
          example: 0983459b-e26f-42f3-a5fd-6e3feee913e7
          schema:
            type: string
        - name: id_lte
          description: Attachments with an ID less than or equal to the specified value.
          in: query
          example: 0983459b-e26f-42f3-a5fd-6e3feee913e7
          schema:
            type: string
        - name: created_gt
          description: Attachments created after the specified date.
          in: query
          example: "2022-12-01"
          schema:
            type: string
        - name: created_gte
          description: Attachments created on or after the specified date.
          in: query
          example: "2022-12-01"
          schema:
            type: string
        - name: created_lt
          description: Attachments created before the specified date.
          in: query
          example: "2022-12-01"
          schema:
            type: string
        - name: created_lte
          description: Attachments created on or before the specified date.
          in: query
          example: "2022-12-01"
          schema:
            type: string
      x-code-samples:
        $ref: ./code-samples/api/get-attachments.yaml
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageOfV1AttachmentViewV1'
              examples:
                $ref: './responses/api/attachment-list.yaml'
          description: OK
  '/message-threads/{id}/add-to-folders':
    post:
      tags:
        - message-thread
      summary: Add message thread
      description: |
        Adds a message thread to a folder.

        - Message threads added to the `UNREAD` folder are marked as **unread** in
        the interface.

        - Message threads added to the `IMPORTANT` folder are marked as
        **important** in the interface.
      operationId: addToFolders
      parameters:
        - name: id
          description: The ID of the message thread you want to add to a folder.
          in: path
          required: true
          example: 643933af08583e0a19c2167e
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageThreadFoldersFormV1'
            examples:
              $ref: './requests/api/message-thread-folders-body.yaml'
      x-code-samples:
        $ref: ./code-samples/api/post-message-threads-id-add-to-folders.yaml
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageThreadViewV1'
              examples:
                $ref: './responses/api/message-thread-id.yaml'
          description: Created
  /message-threads/compose:
    post:
      tags:
        - message-thread
      summary: Send message
      description: |
        Sends a message to annotators.

        - Specify recipients in a list.
        - Select Tolokers using a filter.

        The sent message is added to a new [message thread](#tag--message-thread).

        <aside class="warning"><strong>Restriction</strong>: You can send a maximum of <strong>1</strong> messages per day to mass mail all your Tolokers, and <strong>100,000</strong> messages per day when targeting specific Tolokers. Refer to the <a href="#overview--rate-limiting">Rate limiting</a> section for the complete list of the request limitations in Toloka API.</aside>

        ### See also

        - [Toloka-Kit recipe: Send messages](https://toloka.ai/docs/toloka-kit/recipes/send-messages/)
      operationId: composeMessageThread
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageThreadComposeFormV1'
            examples:
              $ref: './requests/api/message-thread-body.yaml'
      x-code-samples:
        $ref: ./code-samples/api/post-message-threads-compose.yaml
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageThreadViewV1'
              examples:
                $ref: './responses/api/message-thread-id.yaml'
          description: Created
  /message-threads:
    get:
      tags:
        - message-thread
      summary: Get list of message threads
      description: |
        Gets the list of message threads.

        ### See also

        - [Toloka-Kit recipe: Get list of message threads](https://toloka.ai/docs/toloka-kit/recipes/get-message-threads/)
      operationId: getMessageThreads
      parameters:
        - name: folder
          description: |
            Folders where the thread is located:

            - `INBOX` — Inbox.
            - `OUTBOX` — Sent.
            - `AUTOMATIC_NOTIFICATION` — Notifications.
            - `IMPORTANT` — Important.
            - `UNREAD` — Unread.

            You can specify multiple comma-separated values.
          in: query
          example: INBOX,UNREAD
          schema:
            type: string
        - name: folder_ne
          description: |
            Folders to not search for the thread:

            - `INBOX` — Inbox.
            - `OUTBOX` — Sent.
            - `AUTOMATIC_NOTIFICATION` — Notifications.
            - `IMPORTANT` — Important.
            - `UNREAD` — Unread.

            You can specify multiple comma-separated values.
          in: query
          example: OUTBOX,AUTOMATIC_NOTIFICATION
          schema:
            type: string
        - name: sort
          description: |
            The parameters to sort by:

            - `id` — The ID of a task suite.
            - `created` — The task suite creation UTC date and time, in the ISO 8601 format: `YYYY-MM-DDThh:mm:ss[.sss]`.

            To learn how to configure sorting, see [Sorting responses](#overview--sorting-responses).
          in: query
          example: id,-created
          schema:
            type: string
        - name: limit
          description: The limit on the number of results to return.
          in: query
          example: 100
          schema:
            type: integer
            format: int64
        - name: id_gt
          description: Message threads with an ID greater than the specified value.
          in: query
          example: 643933af08583e0a19c2167e
          schema:
            type: string
        - name: id_gte
          description: |
            Message threads with an ID greater than or equal to the specified
            value.
          in: query
          example: 643933af08583e0a19c2167e
          schema:
            type: string
        - name: id_lt
          description: Message threads with an ID less than the specified value.
          in: query
          example: 643933af08583e0a19c2167e
          schema:
            type: string
        - name: id_lte
          description: |
            Message threads with an ID less than or equal to the specified
            value.
          in: query
          example: 643933af08583e0a19c2167e
          schema:
            type: string
        - name: created_gt
          description: Message threads created after the specified date.
          in: query
          example: "2022-12-01"
          schema:
            type: string
        - name: created_gte
          description: Message threads created on or after the specified date.
          in: query
          example: "2022-12-01"
          schema:
            type: string
        - name: created_lt
          description: Message threads created before the specified date.
          in: query
          example: "2022-12-01"
          schema:
            type: string
        - name: created_lte
          description: Message threads created on or before the specified date.
          in: query
          example: "2022-12-01"
          schema:
            type: string
      x-code-samples:
        $ref: ./code-samples/api/get-message-threads.yaml
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageOfV1MessageThreadViewV1'
              examples:
                $ref: './responses/api/message-thread-list.yaml'
          description: OK
  '/message-threads/{id}/remove-from-folders':
    post:
      tags:
        - message-thread
      summary: Remove message thread
      description: |
        Removes a message thread from a folder.

        - Message threads removed from the `UNREAD` folder are marked as **read** in
        the interface.

        - Message threads removed from the `IMPORTANT` folder are **not** marked as
        **important** in the interface.
      operationId: removeFromFolders
      parameters:
        - name: id
          description: The ID of the message thread you want to remove from a folder.
          in: path
          required: true
          example: 643933af08583e0a19c2167e
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageThreadFoldersFormV1'
            examples:
              $ref: './requests/api/message-thread-folders-body.yaml'
      x-code-samples:
        $ref: ./code-samples/api/post-message-threads-id-remove-from-folders.yaml
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageThreadViewV1'
              examples:
                $ref: './responses/api/message-thread-id.yaml'
          description: Created
  '/message-threads/{id}/reply':
    post:
      tags:
        - message-thread
      summary: Reply to message thread
      description: |
        Replies to a message thread.

        ### See also

        - [Toloka-Kit recipe: Reply to message thread](https://toloka.ai/docs/toloka-kit/recipes/reply-to-message-thread/)
      operationId: replyMessageThread
      parameters:
        - name: id
          description: The ID of the message thread to which you want to reply.
          in: path
          required: true
          example: 643933af08583e0a19c2167e
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageThreadReplyFormV1'
            examples:
              $ref: './requests/api/message-thread-reply-body.yaml'
      x-code-samples:
        $ref: ./code-samples/api/post-message-threads-id-reply.yaml
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageThreadViewV1'
              examples:
                $ref: './responses/api/message-thread-id.yaml'
          description: Created
  '/operations/{id}':
    get:
      tags:
        - operation
      summary: Get operation by ID
      description: |
        Gets details for the operation with the ID specified in the request.

        You can get the operation ID from the [list of operations](#get-/operations).

        The response doesn't provide a detailed error description. If an error has occurred, request the [operation log](#get-/operations/-id-/log).
      operationId: getOperation
      parameters:
        - name: id
          description: The ID of the operation for which you want to get the detailed information.
          in: path
          required: true
          schema:
            type: string
            example: 57068577e4b0bf7b07a0256f
      x-code-samples:
        $ref: ./code-samples/api/get-operations-id.yaml
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationViewV1'
              examples:
                $ref: './responses/api/operation-id.yaml'
          description: OK
  '/operations/{id}/log':
    get:
      tags:
        - operation
      summary: Get operation log
      description: |
        Gets the operation log.

        You can get logs for asynchronous operations (`async_mode = true`). Such
        operations run in the background.

        Logs are available only for the last month. To get the logs for an
        earlier period, contact our
        [support team](https://toloka.ai/docs/guide/troubleshooting/troubleshooting?form-source=openapi-get-operation-log).

        You can get the operation log:

        - When you create [one or multiple tasks](#post-/tasks).
        - When you create [one or multiple task suites](#post-/task-suites).
        - When [issuing bonuses to Tolokers](#post-/user-bonuses).

        If the operation was successful, the log contains the IDs of the created
        objects, otherwise it contains the details of validation errors.
      operationId: getOperationLog
      parameters:
        - name: id
          description: The ID of the operation for which you want to get the log.
          in: path
          required: true
          schema:
            type: string
            example:  57068577e4b0bf7b07a0256f
      x-code-samples:
        $ref: ./code-samples/api/get-operations-id-log.yaml
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: './parts/api/additional.yaml#/components/schemas/OperationLog'
              examples:
                $ref: './responses/api/operation-log.yaml'
          description: OK
  /operations:
    get:
      tags:
        - operation
      summary: Get list of operations
      description: Gets the list of operations.
      operationId: getOperations
      parameters:
        - name: type
          description: |
            The operation type:

            - `ANALYTICS` — Getting analytics.
            - `POOL.ARCHIVE` — Archiving a pool.
            - `POOL.CLONE` — Cloning a pool.
            - `POOL.CLOSE` — Closing a pool.
            - `POOL.OPEN` — Opening a pool.
            - `PROJECT.ARCHIVE` — Archiving the project.
            - `SOLUTION.AGGREGATE` — Aggregating a solution.
            - `TASK.BATCH_CREATE` — Bulk creating tasks.
            - `TASK_SUITE.BATCH_CREATE` — Bulk creating task suites.
            - `TRAINING.ARCHIVE` — Archiving a training pool.
            - `TRAINING.CLONE` — Cloning a training pool.
            - `TRAINING.CLOSE` — Closing a training pool.
            - `TRAINING.OPEN` — Opening the training pool.
            - `USER_BONUS.BATCH_CREATE` — Bulk issuing Toloker bonuses.
          in: query
          schema:
            type: string
            example: PROJECT.ARCHIVE
        - name: status
          description: |
            The status of the operation:

            - `PENDING` — Not started yet.
            - `RUNNING` — In progress.
            - `SUCCESS` — Completed successfully.
            - `FAIL` — Not completed.
          in: query
          schema:
            type: string
            example: SUCCESS
        - name: sort
          description: |
            The parameters to sort by:

            - `id` — The ID of the operation.
            - `submitted` — The UTC date and time when the request was sent, in the ISO 8601 format: `YYYY-MM-DDThh:mm:ss[.sss]`.
            - `finished` — The UTC date and time when the operation was finished, in the ISO 8601 format: `YYYY-MM-DDThh:mm:ss[.sss]`.

            To learn how to configure sorting, see [Sorting responses](#overview--sorting-responses).
          in: query
          schema:
            type: string
            example: 'id,-created'
        - name: limit
          description: The limit on the number of results to return.
          in: query
          example: 100
          schema:
            type: integer
            format: int64
        - name: id_gt
          description: Operations with an ID greater than the specified value.
          in: query
          example: 57068577e4b0bf7b07a0256f
          schema:
            type: string
        - name: id_gte
          description: Operations with an ID greater than or equal to the specified value.
          in: query
          example: 57068577e4b0bf7b07a0256f
          schema:
            type: string
        - name: id_lt
          description: Operations with an ID less than the specified value.
          in: query
          example: 57068577e4b0bf7b07a0256f
          schema:
            type: string
        - name: id_lte
          description: Operations with an ID less than or equal to the specified value.
          in: query
          example: 57068577e4b0bf7b07a0256f
          schema:
            type: string
        - name: submitted_gt
          description: Operations created after the specified date.
          in: query
          example: "2022-12-01"
          schema:
            type: string
        - name: submitted_gte
          description: Operations created on or after the specified date.
          in: query
          example: "2022-12-01"
          schema:
            type: string
        - name: submitted_lt
          description: Operations created before the specified date.
          in: query
          example: "2022-12-01"
          schema:
            type: string
        - name: submitted_lte
          description: Operations created on or before the specified date.
          in: query
          example: "2022-12-01"
          schema:
            type: string
        - name: finished_gt
          description: Operations completed after the specified date.
          in: query
          example: "2022-12-01"
          schema:
            type: string
        - name: finished_gte
          description: Operations completed after or on the specified date.
          in: query
          example: "2022-12-01"
          schema:
            type: string
        - name: finished_lt
          description: Operations completed before the specified date.
          in: query
          example: "2022-12-01"
          schema:
            type: string
        - name: finished_lte
          description: Operations completed on or before the specified date.
          in: query
          example: "2022-12-01"
          schema:
            type: string
      x-code-samples:
        $ref: ./code-samples/api/get-operations.yaml
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageOfV1OperationViewV1'
              examples:
                $ref: './responses/api/operation-list.yaml'
          description: OK
  '/pools/{id}/archive':
    post:
      tags:
        - pool
      summary: Archive pool
      description: |
        Moves a pool to the archive.

        If a pool isn't in use, it can be moved to the archive. The pool must
        have the “closed” status.

        A pool with rejected tasks can be archived 9 days after the last task
        was rejected. This period is required to review the results if the
        annotator submits an appeal.

        Exams with automatic acceptance by accuracy, where tasks with
        insufficient accuracy are rejected, can also be archived in 9 days.

        <aside class="note">If the pool is already archived, attempting to
        archive it again returns an empty response with status
        <code>204</code>.</aside>

        ### See also

        - [Archiving a pool](https://toloka.ai/docs/guide/pool-archive/)
        - [Toloka-Kit recipe: Archive pool](https://toloka.ai/docs/toloka-kit/recipes/archive-pool/)
      operationId: archivePool
      parameters:
        - name: id
          description: The ID of the pool you want to archive.
          in: path
          example: 32267581
          required: true
          schema:
            type: string
      x-code-samples:
        $ref: ./code-samples/api/post-pools-id-archive.yaml
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationViewV1'
              examples:
                $ref: './responses/api/pool-archive-operation.yaml'
          description: Accepted
  '/pools/{id}/clone':
    post:
      tags:
        - pool
      summary: Clone pool
      description: |
        Creates a duplicate pool.


        An empty pool will be created with the same parameters.


        <aside class="warning"><strong>Restriction</strong>: You can send a maximum of <strong>20</strong> requests of this kind per minute and <strong>100</strong> requests per day. Refer to the <a href="#overview--rate-limiting">Rate limiting</a> section for the complete list of the request limitations in Toloka API.</aside>

        ### See also

        - [Toloka-Kit recipe: Clone pool](https://toloka.ai/docs/toloka-kit/recipes/clone-pool/)
      operationId: clonePool
      parameters:
        - name: id
          description: The ID of the pool you want to duplicate.
          in: path
          example: 32267581
          required: true
          schema:
            type: string
      x-code-samples:
        $ref: ./code-samples/api/post-pools-id-clone.yaml
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationViewV1'
              examples:
                $ref: './responses/api/pool-clone-operation.yaml'
          description: Accepted
  '/pools/{id}/close':
    post:
      tags:
        - pool
      summary: Close pool
      description: |
        Closes the pool with the ID specified in the request.

        To stop assigning tasks to Tolokers, close the pool.

        When you send requests, an operation is created. To track the progress
        of the operation, send a request to the
        [/operations](#tag--operations) resource.

        <aside class="note">If the current pool status is the same as the
        requested status, an empty response with status <code>204</code> is
        returned.</aside>

        ### See also

        - [Toloka-Kit recipe: Close pool](https://toloka.ai/docs/toloka-kit/recipes/close-pool/)
      operationId: closePool
      parameters:
        - name: id
          description: The ID of the pool you want to close.
          in: path
          example: 32267581
          required: true
          schema:
            type: string
      x-code-samples:
        $ref: ./code-samples/api/post-pools-id-close.yaml
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationViewV1'
              examples:
                $ref: './responses/api/pool-close-operation.yaml'
          description: Accepted
  '/pools/{id}/close-for-update':
    post:
      tags:
        - pool
      summary: Close pool for editing
      description: |
        Closes a pool for editing.

        To make changes to a pool, close it before editing.

        <aside class="note">If you don't open the pool manually after editing,
        it opens automatically in 15 minutes. In this case, no checks are
        performed that can block the pool opening.</aside>

        <aside class="note">If the current pool status is the same as the
        requested status, an empty response with status <code>204</code> is
        returned.</aside>
      operationId: closePoolForUpdate
      parameters:
        - name: id
          description: The ID of the pool you want to close for editing.
          in: path
          example: 32267581
          required: true
          schema:
            type: string
      x-code-samples:
        $ref: ./code-samples/api/post-pools-id-close-for-update.yaml
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationViewV1'
              examples:
                $ref: './responses/api/pool-close-operation.yaml'
          description: Accepted
  /pools:
    get:
      tags:
        - pool
      summary: Get list of pools
      description: |
        Gets a list of created pools (including archived pools).

        ### See also

        - [Toloka-Kit recipe: Get list of pools](https://toloka.ai/docs/toloka-kit/recipes/get-pools/)
      operationId: getPools
      parameters:
        - name: status
          description: |
            The status of the pool:

            - `OPEN` — Open.
            - `CLOSED` — Closed.
            - `LOCKED` — No possible actions.
            - `ARCHIVED` — Archived.
          in: query
          example: OPEN
          schema:
            type: string
        - name: project_id
          description: The ID of the project to which the pool is attached.
          in: query
          example: 83859
          schema:
            type: string
        - name: sort
          description: |
            The parameters to sort by:

            - `id` — Pool ID.
            - `created` — The UTC date and time when the pool was created, in the ISO 8601 format: `YYYY-MM-DDThh:mm:ss[.sss]`.
            - `last_started` — The UTC date and time when the pool was last started, in the ISO 8601 format: `YYYY-MM-DDThh:mm:ss[.sss]`.

            To learn how to configure sorting, see [Sorting responses](#overview--sorting-responses).
          in: query
          example: id,-created
          schema:
            type: string
        - name: limit
          description: The limit on the number of results to return.
          in: query
          example: 100
          schema:
            type: integer
            format: int64
        - name: id_gt
          description: Pools with an ID greater than the specified value.
          in: query
          example: 32267581
          schema:
            type: string
        - name: id_gte
          description: Pools with an ID greater than or equal to the specified value.
          in: query
          example: 32267581
          schema:
            type: string
        - name: id_lt
          description: Pools with an ID less than the specified value.
          in: query
          example: 32267581
          schema:
            type: string
        - name: id_lte
          description: Pools with an ID less than or equal to the specified value.
          in: query
          example: 32267581
          schema:
            type: string
        - name: created_gt
          description: Pools created after the specified date.
          in: query
          example: "2022-12-01"
          schema:
            type: string
        - name: created_gte
          description: Pools created on or after the specified date.
          in: query
          example: "2022-12-01"
          schema:
            type: string
        - name: created_lt
          description: Pools created before the specified date.
          in: query
          example: "2022-12-01"
          schema:
            type: string
        - name: created_lte
          description: Pools created on or before the specified date.
          in: query
          example: "2022-12-01"
          schema:
            type: string
        - name: last_started_gt
          description: Pools that were last opened after the specified date.
          example: "2022-12-01"
          in: query
          schema:
            type: string
        - name: last_started_gte
          description: Pools that were last opened on or after the specified date.
          in: query
          example: "2022-12-01"
          schema:
            type: string
        - name: last_started_lt
          description: Pools that were last opened before the specified date.
          in: query
          example: "2022-12-01"
          schema:
            type: string
        - name: last_started_lte
          description: Pools that were last opened on or before the specified date.
          in: query
          example: "2022-12-01"
          schema:
            type: string
      x-code-samples:
        $ref: ./code-samples/api/get-pools.yaml
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageOfV1PoolViewV1'
              examples:
                $ref: './responses/api/pool-list.yaml'
          description: OK
    post:
      tags:
        - pool
      summary: Create pool
      description: |
        Creates a pool.

        The pool is automatically assigned an ID.

        <aside class="warning"><strong>Restriction</strong>: You can send a maximum of <strong>20</strong> requests of this kind per minute and <strong>100</strong> requests per day. Refer to the <a href="#overview--rate-limiting">Rate limiting</a> section for the complete list of the request limitations in Toloka API.</aside>

        <aside class="note">Learn about creating a training pool in the <a
        href="#post-/trainings">Create training pool</a> section.</aside>

        ### See also

        - [Creating a pool](https://toloka.ai/docs/guide/pool-main/)
        - [Toloka-Kit recipe: Create pool](https://toloka.ai/docs/toloka-kit/recipes/create-pool/)
      operationId: createPool
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PoolFormV1'
            examples:
              $ref: './requests/api/pool-body.yaml'
      x-code-samples:
        $ref: ./code-samples/api/post-pools.yaml
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PoolViewV1'
              examples:
                $ref: './responses/api/pool-id.yaml'
          description: Created
  '/pools/{id}':
    get:
      tags:
        - pool
      summary: Get pool by ID
      description: |
        Gets the properties of the pool with the ID specified in the request.

        You can get the pool ID from the [list of pools](#get-/pools).

        ### See also

        - [Toloka-Kit recipe: Get pool details](https://toloka.ai/docs/toloka-kit/recipes/get-pool-by-id/)
      operationId: getPool
      parameters:
        - name: id
          description: The ID of the pool for which you want to get detailed information.
          in: path
          required: true
          example: 32267581
          schema:
            type: string
      x-code-samples:
        $ref: ./code-samples/api/get-pools-id.yaml
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PoolViewV1'
              examples:
                $ref: './responses/api/pool-id.yaml'
          description: OK
    put:
      tags:
        - pool
      summary: Edit pool
      description: |
        Makes changes to the pool with the ID specified in the request.

        The pool can't be edited if it's open. [Close the
        pool](#post-/pools/-id-/close-for-update) before editing. In the request body, specify **all** the pool parameters, including those that are updated.

        <aside class="warning"><strong>Restriction</strong>: You can send a maximum of <strong>10</strong> requests per hour to change the pool overlap parameters values. Refer to the <a href="#overview--rate-limiting">Rate limiting</a> section for the complete list of the request limitations in Toloka API.</aside>

        Learn about editing a training pool in the [Edit training pool](#put-/trainings/-id-) section.

        ### See also

        - [Editing a pool](https://toloka.ai/docs/guide/pool-edit/)
      operationId: updatePool
      parameters:
        - name: id
          description: The ID of the pool which you want to edit.
          in: path
          required: true
          example: 32267581
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PoolViewV1'
            examples:
              $ref: './responses/api/pool-id.yaml'
      x-code-samples:
        $ref: ./code-samples/api/put-pools-id.yaml
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PoolViewV1'
              examples:
                $ref: './responses/api/pool-id.yaml'
          description: OK
    patch:
      tags:
        - pool
      summary: Change pool priority
      description: |
        Changes the priority of a pool.

        If you have multiple pools and want annotators to be offered one pool
        before another, change the pool priority. You don't need to stop the
        pool for that, it must have the "open" or "closed" status.

        Priority is a number on a scale from **0** to **100**. The larger the
        number, the faster the pool will be labeled compared to your other
        pools.

        <aside class="note">If the pool is archived, an empty response with
        status <code>409</code> is returned.</aside>

        ### See also

        - [Editing a pool](https://toloka.ai/docs/guide/pool-edit/)
        - [Toloka-Kit recipe: Change pool priority](https://toloka.ai/docs/toloka-kit/recipes/change-pool-priority/)
      operationId: patchPool
      parameters:
        - name: id
          description: The ID of the pool for which you want to change the priority.
          in: path
          required: true
          example: 32267581
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PoolPatchFormV1'
      x-code-samples:
        $ref: ./code-samples/api/patch-pools-id.yaml
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PoolViewV1'
              examples:
                $ref: './responses/api/pool-id.yaml'
          description: OK
  '/pools/{id}/open':
    post:
      tags:
        - pool
      summary: Open pool
      description: |
        Opens the pool with the ID specified in the request.

        Training tasks will be available to Tolokers only if a training pool is
        open.

        An operation is created when you send a request. To track the progress
        of the operation, send a request to the
        [/operations](#tag--operations) resource.

        <aside class="note">If the pool is already open, an empty response with
        status <code>204</code> is returned.

        If the pool cannot be opened, a response is returned with an error
        description and the status <code>409</code>.</aside>

        ### See also

        - [Toloka-Kit recipe: Open pool](https://toloka.ai/docs/toloka-kit/recipes/open-pool/)
      operationId: openPool
      parameters:
        - name: id
          description: The ID of the pool you want to open.
          in: path
          required: true
          example: 32267581
          schema:
            type: string
      x-code-samples:
        $ref: ./code-samples/api/post-pools-id-open.yaml
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationViewV1'
              examples:
                $ref: './responses/api/pool-open-operation.yaml'
          description: Accepted
  '/projects/{id}/archive':
    post:
      tags:
        - project
      summary: Archive project
      description: |
        Sends the project to the archive.

        If a project isn't being used, you can send it to the archive. To do
        this, all the pools in the project must be
        [archived](#post-/pools/-id-/archive). You can get the project ID from
        the [list of projects](#get-/projects).

        You can check the operation status by sending requests to the `/operations` resource. For more information, see [Tracking operations](#tag--operation).

        ### See also

        - [Toloka-Kit recipe: Archive project](https://toloka.ai/docs/toloka-kit/recipes/archive-project/)
      operationId: archiveProject
      parameters:
        - name: id
          description: The project ID.
          in: path
          required: true
          schema:
            type: string
          example: '83859'
      x-code-samples:
        $ref: ./code-samples/api/post-projects-id-archive.yaml
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationViewV1'
              examples:
                $ref: './responses/api/project-archive-operation.yaml'
          description: Accepted
  /projects:
    get:
      tags:
        - project
      summary: Get list of projects
      description: |
        Gets the list of projects.

        ### See also

        - [Toloka-Kit recipe: Get list of projects](https://toloka.ai/docs/toloka-kit/recipes/get-projects/)
      operationId: getProjects
      parameters:
        - name: status
          in: query
          description: |
            The status of the project:

            - `ACTIVE` — Active.
            - `ARCHIVED` — Archived.
          example: ACTIVE
          schema:
            type: string
        - name: sort
          in: query
          description: |
            The parameters to sort by:

            - `id` — The project identifier.
            - `created` — The UTC date and time when the project was created, in the ISO 8601 format: `YYYY-MM-DDThh:mm:ss[.sss]`.
            - `public_name` — The project name.
            - `private_comment` — A comment on the project.

            To learn how to configure sorting, see [Sorting responses](#overview--sorting-responses).
          example: id,-created
          schema:
            type: string
        - name: owner
          in: query
          description: The requester ID.
          schema:
            type: string
          example: 6c8a55de89cfe3ea858afcb2629de162
        - name: limit
          description: The limit on the number of results to return.
          in: query
          example: 100
          schema:
            type: integer
            format: int64
            default: 50
            maximum: 300
        - name: id_gt
          description: Projects with an ID greater than the specified value.
          in: query
          schema:
            type: string
          example: 83800
        - name: id_gte
          description: Projects with an ID greater than or equal to the specified value.
          in: query
          schema:
            type: string
          example: 83800
        - name: id_lt
          description: Projects with an ID less than the specified value.
          in: query
          schema:
            type: string
          example: 83800
        - name: id_lte
          description: Projects with an ID less than or equal to the specified value.
          in: query
          schema:
            type: string
          example: 83800
        - name: created_gt
          description: Projects created after the specified date.
          in: query
          schema:
            type: string
          example: "2022-12-01"
        - name: created_gte
          description: Projects created on or after the specified date.
          in: query
          schema:
            type: string
          example: "2022-12-01"
        - name: created_lt
          description: Projects created before the specified date.
          in: query
          schema:
            type: string
          example: "2022-12-01"
        - name: created_lte
          description: Projects created on or before the specified date.
          in: query
          schema:
            type: string
          example: "2022-12-01"
      x-code-samples:
        $ref: ./code-samples/api/get-projects.yaml
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageOfV1ProjectViewV1'
              examples:
                $ref: './responses/api/project-list.yaml'
          description: OK
    post:
      tags:
        - project
      summary: Create project
      description: |
        Creates a project with the parameters specified in the request.

        <aside class="warning"><strong>Restriction</strong>: You can send a maximum of <strong>20</strong> requests of this kind per minute and a maximum of <strong>100</strong> requests per day. Refer to the <a href="#overview--rate-limiting">Rate limiting</a> section for the complete list of the request limitations in Toloka API.</aside>

        ### See also

        - [Create a project](https://toloka.ai/docs/guide/project/)
        - [Configuration for Template Builder](https://toloka.ai/docs/api/tb-config/)
        - [Toloka-Kit recipe: Create project](https://toloka.ai/docs/toloka-kit/recipes/create-project/)
      operationId: createProject
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectFormV1'
            examples:
              $ref: './requests/api/project-body.yaml'
      x-code-samples:
        $ref: ./code-samples/api/post-projects.yaml
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectViewV1'
              examples:
                $ref: './responses/api/project-id.yaml'
          description: Created
  '/projects/{id}':
    get:
      tags:
        - project
      summary: Get project by ID
      description: |
        Gets properties of the project with the ID specified in the request.

        You can get the project ID from the [list of projects](#get-/projects).

        ### See also

        - [Toloka-Kit recipe: Get project details](https://toloka.ai/docs/toloka-kit/recipes/get-project-by-id/)
      operationId: getProject
      parameters:
        - name: id
          in: path
          required: true
          description: The ID of the project for which you want to get detailed information.
          schema:
            type: string
          example: '83859'
      x-code-samples:
        $ref: ./code-samples/api/get-projects-id.yaml
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectViewV1'
              examples:
                $ref: './responses/api/project-id.yaml'
          description: OK
    put:
      tags:
        - project
      summary: Edit project
      description: |
        Edits the project with the ID specified in the request.

        In the request body, specify **all** the parameters for the project being
        updated. You can get the project ID from the [list of
        projects](#get-/projects).

        ### See also

        - [Editing a project](https://toloka.ai/docs/guide/edit-project/)
        - [Toloka-Kit recipe: Edit project](https://toloka.ai/docs/toloka-kit/recipes/edit-project/)
      operationId: updateProject
      parameters:
        - name: id
          description: The ID of the project you want to modify.
          in: path
          required: true
          schema:
            type: string
          example: '83859'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectViewV1'
            examples:
              $ref: './responses/api/project-id.yaml'
      x-code-samples:
        $ref: ./code-samples/api/put-projects-id.yaml
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectViewV1'
              examples:
                $ref: './responses/api/project-id.yaml'
          description: OK
  /requester:
    get:
      tags:
        - requester
      summary: Get account balance
      description: |
        Gets information about the account balance.

        The method also returns the client ID and the name displayed to Tolokers.
      operationId: getRequesterInfo
      x-code-samples:
        $ref: ./code-samples/api/get-requester.yaml
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequesterViewV1'
              examples:
                $ref: './responses/api/requester.yaml'
          description: OK
  /skills:
    get:
      tags:
        - skill
      summary: Get list of skills
      description: |
        Gets the list of created skills.

        ### See also

        - [Toloka-Kit recipe: Get skills](https://toloka.ai/docs/toloka-kit/recipes/get-skills/)
      operationId: getSkills
      parameters:
        - name: name
          description: The skill name.
          in: query
          example: "search relevance"
          schema:
            type: string
        - name: global
          description: |
            The indicator of a global skill:

            - `true` — The skill is global, shows general competencies of Tolokers, and is available to all Tolokers.
            - `false` — The skill is created by the requester and can be assigned to Tolokers both manually and automatically: using quality control rules or after training.
          in: query
          example: true
          schema:
            type: boolean
        - name: sort
          description: |
            The parameters to sort by:

            - `id` — Skill ID.
            - `created` — The skill creation UTC date and time, in the ISO 8601 format: `YYYY-MM-DDThh:mm:ss[.sss]`.

            To learn how to configure sorting, see [Sorting responses](#overview--sorting-responses).
          in: query
          example: id,-created
          schema:
            type: string
        - name: limit
          description: The limit on the number of results to return.
          in: query
          example: 100
          schema:
            type: integer
            format: int64
        - name: id_gt
          description: Skills with an ID greater than the specified value.
          in: query
          example: 11051
          schema:
            type: string
        - name: id_gte
          description: Skills with an ID greater than or equal to the specified value.
          in: query
          example: 11051
          schema:
            type: string
        - name: id_lt
          description: Skills with an ID less than the specified value.
          in: query
          example: 11051
          schema:
            type: string
        - name: id_lte
          description: Skills with an ID less than or equal to the specified value.
          in: query
          example: 11051
          schema:
            type: string
        - name: created_gt
          description: Skills issued or created after the specified date.
          in: query
          example: "2022-12-01"
          schema:
            type: string
        - name: created_gte
          description: Skills issued or created on or after the specified date.
          in: query
          example: "2022-12-01"
          schema:
            type: string
        - name: created_lt
          description: Skills issued or created before the specified date.
          in: query
          example: "2022-12-01"
          schema:
            type: string
        - name: created_lte
          description: Skills issued or created on or before the specified date.
          in: query
          example: "2022-12-01"
          schema:
            type: string
        - name: modified_gt
          description: Skills modified after the specified date.
          in: query
          example: "2022-12-01"
          schema:
            type: string
        - name: modified_gte
          description: Skills modified on or after the specified date.
          in: query
          example: "2022-12-01"
          schema:
            type: string
        - name: modified_lt
          description: Skills modified before the specified date.
          in: query
          example: "2022-12-01"
          schema:
            type: string
        - name: modified_lte
          description: Skills modified on or before the specified date.
          in: query
          example: "2022-12-01"
          schema:
            type: string
      x-code-samples:
        $ref: ./code-samples/api/get-skills.yaml
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageOfV1SkillViewV1'
              examples:
                $ref: './responses/api/skill-list.yaml'
          description: OK
    post:
      tags:
        - skill
      summary: Create skill
      description: |
        Creates a skill.

        <aside class="warning"><strong>Restriction</strong>: You can send a maximum of <strong>10</strong> requests of this kind per minute and <strong>100</strong> requests per day. Refer to the <a href="#overview--rate-limiting">Rate limiting</a> section for the complete list of the request limitations in Toloka API.</aside>

        ### See also

        - [Creating a skill](https://toloka.ai/docs/guide/nav-create/)
        - [Toloka-Kit recipe: Create skill](https://toloka.ai/docs/toloka-kit/recipes/create-skill/)
      operationId: createSkill
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SkillFormV1'
            examples:
              $ref: './requests/api/skill-body.yaml'
      x-code-samples:
        $ref: ./code-samples/api/post-skills.yaml
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkillViewV1'
              examples:
                $ref: './responses/api/skill-id.yaml'
          description: Created
  '/skills/{id}':
    get:
      tags:
        - skill
      summary: Get skill by ID
      description: |
        Gets the properties of the skill with the ID specified in the request.

        You can get the skill ID from the [list of skills](#get-/skills).
      operationId: getSkill
      parameters:
        - name: id
          description: The ID of the skill for which you want to get detailed information.
          in: path
          required: true
          example: 11051
          schema:
            type: string
      x-code-samples:
        $ref: ./code-samples/api/get-skills-id.yaml
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkillViewV1'
              examples:
                $ref: './responses/api/skill-id.yaml'
          description: OK
    put:
      tags:
        - skill
      summary: Edit skill
      description: |
        Changes the name, comment, and access to the skill.

        In the request body, specify **all** the skill parameters, including those that are updated.

        ### See also

        - [Editing a skill](https://toloka.ai/docs/guide/nav-edit/)
        - [Toloka-Kit recipe: Edit skill](https://toloka.ai/docs/toloka-kit/recipes/edit-skill/)
      operationId: updateSkill
      parameters:
        - name: id
          description: The ID of the skill you want to modify.
          in: path
          required: true
          example: 11051
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SkillViewV1'
            examples:
              $ref: './responses/api/skill-id.yaml'
      x-code-samples:
        $ref: ./code-samples/api/put-skills-id.yaml
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkillViewV1'
              examples:
                $ref: './responses/api/skill-id.yaml'
          description: OK
  /task-suites:
    get:
      tags:
        - task-suite
      summary: Get list of task suites
      description: Gets the list of task suites in the pool.
      operationId: getTaskSuites
      parameters:
        - name: pool_id
          description: |
            The ID of the pool for which you want to get the list of the task suites.

            You must specify either `task_id` or `pool_id`.
          required: true
          in: query
          schema:
            type: string
          example: 1227652
        - name: task_id
          description: |
            The task ID in the suites that were generated automatically using “smart mixing”. You will get task suites that contain the specified task.

            You must specify either `task_id` or `pool_id`.
          required: true
          in: query
          schema:
            type: string
          example: 000012bb84--62d80429f20bf20e50f36a27
        - name: sort
          description: |
            The parameters to sort by:

            - `id` — The ID of a task suite.
            - `created` — The task suite creation UTC date and time, in the ISO 8601 format: `YYYY-MM-DDThh:mm:ss[.sss]`.

            To learn how to configure sorting, see [Sorting responses](#overview--sorting-responses).
          in: query
          example: id,-created
          schema:
            type: string
        - name: overlap
          description: Task suites with an overlap equal to the specified value.
          in: query
          example: 3
          schema:
            type: integer
            format: int64
        - name: limit
          description: The limit on the number of results to return.
          in: query
          example: 100
          schema:
            type: integer
            format: int64
        - name: id_gt
          description: Task suites with an ID greater than the specified value.
          in: query
          example: 000012e4ca--62eadb541b54e36b45b7a117
          schema:
            type: string
        - name: id_gte
          description: Task suites with an ID greater than or equal to the specified value.
          in: query
          example: 000012e4ca--62eadb541b54e36b45b7a117
          schema:
            type: string
        - name: id_lt
          description: Task suites with an ID less than the specified value.
          in: query
          example: 000012e4ca--62eadb541b54e36b45b7a117
          schema:
            type: string
        - name: id_lte
          description: Task suites with an ID less than or equal to the specified value.
          in: query
          example: 000012e4ca--62eadb541b54e36b45b7a117
          schema:
            type: string
        - name: created_gt
          description: Task suites created after the specified date.
          in: query
          example: "2022-12-01"
          schema:
            type: string
        - name: created_gte
          description: Task suites created on or after the specified date.
          in: query
          example: "2022-12-01"
          schema:
            type: string
        - name: created_lt
          description: Task suites created before the specified date.
          in: query
          example: "2022-12-01"
          schema:
            type: string
        - name: created_lte
          description: Task suites created on or before the specified date.
          in: query
          example: "2022-12-01"
          schema:
            type: string
        - name: overlap_gt
          description: Task suites with an overlap greater than the specified value.
          in: query
          example: 3
          schema:
            type: string
        - name: overlap_gte
          description: Task suites with an overlap greater than or equal to the specified value.
          in: query
          example: 3
          schema:
            type: string
        - name: overlap_lt
          description: Task suites with an overlap less than the specified value.
          in: query
          example: 3
          schema:
            type: string
        - name: overlap_lte
          description: Task suites with an overlap less than or equal to the specified value.
          in: query
          example: 3
          schema:
            type: string
      x-code-samples:
        $ref: ./code-samples/api/get-task-suites.yaml
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageOfV1TaskSuiteViewV1'
              examples:
                $ref: './responses/api/task-suite-list.yaml'
          description: OK
    post:
      tags:
        - task-suite
      summary: Create single/multiple task suites
      description: |
        Creates one or multiple task suites.

        <aside class="warning"><strong>Restriction</strong>. You can add a maximum of <strong>100,000</strong> task suites per minute and <strong>2,000,000</strong> task suites per day. The total size of all <code>input_values</code> fields in a single request mustn't exceed <strong>1,048,576</strong> bytes, <code>output_values</code> — <strong>4,194,304</strong> bytes.

        Refer to the <a href="#overview--rate-limiting">Rate limiting</a> section for the complete list of the request limitations in Toloka API.</aside>

        ### See also

        - [Toloka-Kit recipe: Group tasks in task suites](https://toloka.ai/docs/toloka-kit/recipes/create-task-suite/)
      operationId: createTaskSuite
      parameters:
        - name: operation_id
          description: |
            The operation ID for asynchronously loading one or more task suites (if `async_mode=true`).

            <aside class="warning">We recommend sending <code>operation_id</code> in the <code>POST</code> request to avoid accidental errors, such as creating the operation multiple times for the same task suites.</aside>

            The ID should conform to the [RFC4122 standard](https://tools.ietf.org/html/rfc4122).

            You can use this ID in the future to [get information about the operation](#get-/operations/-id-).
          in: query
          example: 57068577e4b0bf7b07a0256f
          schema:
            type: string
        - name: skip_invalid_items
          description: |
            Validation parameters for JSON objects:

            - `true` — Create the task suites that passed validation.
            - `false` — If at least one of the task suites didn't pass validation, stop the operation and don't create the task suites.
          in: query
          example: true
          schema:
            type: boolean
            default: false
        - name: allow_defaults
          description: |
            Overlap settings:

            - `true` — Use the overlap that is set in the pool parameters (in the `defaults.default_overlap_for_new_task_suites` key).
            - `false` — Use the overlap that is set in the task suite parameters (in the `overlap` field).
          in: query
          example: true
          schema:
            type: boolean
            default: false
        - name: open_pool
          description: Whether to open the pool immediately after the operation is completed, if the pool is closed.
          in: query
          example: true
          schema:
            type: boolean
            default: false
        - name: async_mode
          description: |
            Mode for request processing:

            - `true` — Asynchronous. Creates an asynchronous operation that runs in the background. The response contains information about the operation (start and  completion time, status).
            - `false` — Synchronous. The response contains information about one or multiple task suites created.
          in: query
          example: false
          schema:
            type: boolean
            default: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              description: Single or multiple task suites to create.
              oneOf:
                - $ref: '#/components/schemas/TaskSuiteFormV1'
                - type: array
                  description: The array of task suites you want to create.
                  items:
                    $ref: '#/components/schemas/TaskSuiteFormV1'
            examples:
              $ref: './requests/api/task-suite-body.yaml'
      x-code-samples:
        $ref: ./code-samples/api/post-task-suites.yaml
      responses:
        '201':
          content:
            application/json:
              schema:
                description: The details about the task suite creation result.
                oneOf:
                  - $ref: '#/components/schemas/TaskSuiteViewV1'
                  - $ref: '#/components/schemas/PageOfTaskSuiteV1'
                  - $ref: '#/components/schemas/OperationViewV1'
              examples:
                $ref: './responses/api/task-suite-post.yaml'
          description: Created
  '/task-suites/{id}':
    get:
      tags:
        - task-suite
      summary: Get task suite by ID
      description: |
        Gets the task suite with the ID specified in the request.

        You can get the task suite ID from the [list of task suites](#get-/task-suites).
      operationId: getTaskSuite
      parameters:
        - name: id
          description: The ID of the task suite for which you want to get detailed information.
          in: path
          required: true
          example: 000012e4ca--62eadb541b54e36b45b7a117
          schema:
            type: string
      x-code-samples:
        $ref: ./code-samples/api/get-task-suites-id.yaml
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskSuiteViewV1'
              examples:
                $ref: './responses/api/task-suite-id.yaml'
          description: OK
    patch:
      tags:
        - task-suite
      summary: Edit task suite overlap or priority
      description: |
        Changes the task suite overlap or priority.

        - To change the task suite overlap, specify a numeric value (the `overlap` parameter) or set infinite overlap (the `infinite_overlap` parameter) to assign the
        task suite to all Tolokers (this is useful for training tasks).

        - To change the priority of the task suite in the pool, specify a numeric value for the `issuing_order_override` parameter.

        ### See also

        - [What is overlap?](https://toloka.ai/docs/guide/overlap-faq/)
        - [Toloka-Kit recipe: Change task overlap](https://toloka.ai/docs/toloka-kit/recipes/change-task-overlap/)
      operationId: patchTaskSuite
      parameters:
        - name: id
          description: The ID of the task suite for which you want to change the overlap.
          in: path
          required: true
          example: 000012e4ca--62eadb541b54e36b45b7a117
          schema:
            type: string
        - name: open_pool
          description: Whether to open the pool immediately after the operation is completed, if the pool is closed.
          in: query
          example: true
          schema:
            type: boolean
            default: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskSuitePatchV1'
            examples:
              $ref: './requests/api/task-suite-body-patch.yaml'
      x-code-samples:
        $ref: ./code-samples/api/patch-task-suites-id.yaml
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskSuiteViewV1'
              examples:
                $ref: './responses/api/task-suite-id.yaml'
          description: OK
  '/task-suites/{id}/set-overlap-or-min':
    patch:
      tags:
        - task-suite
      summary: Stop assigning task suite
      description: |
        Stops assigning a task suite to Tolokers and sets the task suite overlap to the minimal possible value.

        To stop assigning the task suite to Tolokers, set the overlap field to `0`.
      operationId: setOverlapOrMin
      parameters:
        - name: id
          description: The ID of the task suite you want to stop assigning.
          in: path
          required: true
          example: 000012e4ca--62eadb541b54e36b45b7a117
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskSuiteOverlapPatchV1'
            examples:
              $ref: './requests/api/task-suite-body-overlap.yaml'
      x-code-samples:
        $ref: ./code-samples/api/patch-task-suites-id-set-overlap-or-min.yaml
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskSuiteViewV1'
              examples:
                $ref: './responses/api/task-suite-id.yaml'
          description: OK
  /tasks:
    get:
      tags:
        - task
      summary: Get list of tasks
      description: |
        Gets the list of tasks in the pool.

        ### See also

        - [Toloka-Kit recipe: Get list of tasks](https://toloka.ai/docs/toloka-kit/recipes/get-tasks/)
      operationId: getTasks
      parameters:
        - name: pool_id
          description: The ID of the pool for which you want to get the list of the tasks.
          required: true
          in: query
          schema:
            type: string
          example: 1227652
        - name: sort
          description: |
            The parameters to sort by:

            - `id` — Task ID.
            - `created` — The task creation UTC date and time, in the ISO 8601 format: `YYYY-MM-DDThh:mm:ss[.sss]`.

            To learn how to configure sorting, see [Sorting responses](#overview--sorting-responses).
          in: query
          example: id,-created
          schema:
            type: string
        - name: overlap
          description: Tasks with an overlap equal to the specified value.
          in: query
          example: 2
          schema:
            type: integer
            format: int64
        - name: limit
          description: The limit on the number of results to return.
          in: query
[...]
